*{
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container{
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: 600px;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 1px 0px 15px 5px #ce605c52;
}

.container img{
    width: 80px;
    margin: 2rem 0 1.5rem 0;
    border-radius: 10rem;
}

.container img:hover{
    scale: 1.2;
    transition: 0.2s;
    box-shadow: 1px 0px 5px 5px #ce605c52;
}

h1{
    font-size: 1.5em;
    margin-bottom: 1rem;
    font-weight: 600;
}

.location{
    color: #e23933;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.text-container p:last-child{
    margin-bottom: 1rem;
}

.button-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.button-social-media{
    background-color: hsl(0, 0%, 20%);
    margin: 0.5rem;
    padding: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.90em;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.button-social-media:hover{
    background-color:  #ce605c52;
    scale: 1.05;
    transition: 0.1s;
}

.button-social-media:active{
    background-color:  #e23933;
    color: black;
      
}

.attribution a{
    color: #e23933;
}

/* Media queries screen <= 425px */

@media(max-width:425px){

    .container{
        width: 90%;
    }

    .attribution{
        width: 85%;
        font-size: 0.9em;
        margin: 0 auto;
    }


}